<!-- <NavBar /> -->
<Jumbo>
  <h2>Harsh Manhare</h2>
  <p>
    Hey there , This is the greatest singer in the history of singing
    <br/>
    Please welcome your beloved singer Mr. Harsh Manhare
  </p>
  <address>
    Super Rentals HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:9131638321">+91 9131638321</a><br>
    <a href="mailto:jayprakash.dakshana15@gmail.com">jayprakash.dakshana15@gmail.com</a>
  </address>

  <LinkTo @route="about" @class="button">About</LinkTo>
</Jumbo>